@page
@model FinalProject.Pages.Shoes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shoe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.ReleaseDate)
        </dd>
        @foreach (var r in Model.Shoe.Shops)
        {
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => r.Description)
        </dt>
        <dd class="col-sm-1">
            @Html.DisplayFor(model => r.Description)
        </dd>
        <!-- Form with button to delete each shop -->
            <dt class="col-sm-9">
                <form method="post">
                    <input type="hidden" asp-for="ShopIdToDelete" value="@r.ShopId" />
                    <input type="submit" asp-page-handler="DeleteShop" asp-route-id="@Model.Shoe.ShoeId" value="Delete Shop" class="btn btn-danger btn-sm" />
                </form>
            </dt>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shoe.ShoeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
