@page
@model FinalProject.Pages.Shoes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get">
    <p>
        <input type="text" name="SearchString" value="@Model.SearchString" placeholder="Search by name" />
        <button type="submit">Search</button>
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shoe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoe[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoe[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoe[0].ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Shoe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShoeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShoeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShoeId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    @if (Model.CurrentPage > 1)
    {
        <a class="btn btn-default" asp-page="./Index" asp-route-currentPage="@(Model.CurrentPage - 1)">Previous</a>
    }
    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a class="btn btn-default" asp-page="./Index" asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
    }
</div>
